.buttons-container {
  display: flex;
  margin-top: 10px;
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

input {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 80%;
}

.auth-form {
  background-color: lightgrey;
  width: 300px;
  padding: 30px;
  border: 1px solid;
}
