<ng-container *ngIf="!isLoading; else loading">
  <div class="projects-container">
    <ng-container *ngFor="let item of projects">
      <div class="project-container">
        <app-project [project]="item" (onDelete)="deleteProject($event)" (onUpdate)="updateProject($event)"></app-project>
      </div>
    </ng-container>
    <div class="new-project">
      <div class="new-project-child">
        <h2>Create a new project</h2>
        <input type="text" placeholder="Project name" [(ngModel)]="project.projectname" (keydown.enter)="project.projectname && createProject()">
        <button mat-raised-button color="primary" [disabled]="!project.projectname" (click)="createProject()">Create Project</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="perfect-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>


