.header {
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  height: 30px;
  align-items: center;
  padding: 10px;
  border: 1px solid #bfbfbf;
}

.menu {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 20px;
}
